/* Estilos generales */

:root {
  --text-color: #1a1a1a;
  --text-color2: #242424;
  --text-color3: #4e4e4e;
  --text-color4: #f9f9f9;
  --text-color5: #e4e4e4;
  --text-color6: #c5c5c5;
  --title-color: #5dc1b9;
  --title-color2: #9ce0db;
  --title-color3: #caebe8;
  --button-color: #81638b;
  --button-color2: #b695c0;
  --button-color3: #dac9df;
  --button-color4: #4b9986;
  --acent-color: #f9d99a;
  --acent-color2: #fbe6bc;

}

*{
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(254, 255, 255);
  overflow-x: hidden;
  margin: 0;  
  padding: 0;  
  box-sizing: border-box; 
  
  
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  font-size: 19px;
}

footer {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

p ul li i {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
}

h1{
  font-size: 35px;
  color: var(--button-color4);
  font-family: "Coustard", serif;
  font-weight: 400;
}

h3{
  font-size: 19px;
  font-family: "Poppins", sans-serif;
}

*,  
*:before,  
*:after {  
    box-sizing: inherit;  
}  


/* SPINNER (PANTALLA DE CARGA) */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 6px solid var(--title-color3);
  border-radius: 50%;
  border-top: 6px solid var(--title-color);
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* LOG IN */

.bg {
  background-image: url(/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg2 {
  background-image: url(/images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.pagina-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.contenedor-login {
  display: flex;
  max-width: 900px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.lado-izquierdo-login {
  flex: 1;
  background-image: url('/images/login\ paciente.png');
  background-size: cover;
  background-position: center;
}

.lado-izquierdo-login2 {
  flex: 1;
  background-image: url('/images/loginprof.png');
  background-size: cover;
  background-position: center;
}

.lado-derecho-login {
  flex: 1;
  padding: 20px;
}

.lado-derecho-login h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.lado-derecho-login h3 {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--button-color2);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--text-color);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--title-color);
  color: var(--text-color4);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--button-color2);
}

.login-link {
  color: var(--button-color4);
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.s-letra {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

/*MENU*/
.enlace-home{
  position: absolute;
  padding: 20px 50px;
}

.logo{
  height: 50px;
}

.icon{
  font-size: 20px;
  color: #aee0dc;
  
}


.search-container {
  border: 1px solid #aee0dc;
  background: white;
  border-radius: 5px;
  font-size: 15px;
}

.buscador1{
  border:none;
  box-sizing: border-box;
  padding-right: 30px;
  border-radius: 5px;

}

.fi-ts-search-heart{
  margin: 10px;
}


#salir{
  color: #aee0dc;
}

nav .iconos{
  float: right;
  margin-right: 20px;
  margin-top: 16px;
}

nav .iconos .icon {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

.menu{
  display: block;

}
a{
  text-decoration: none;
}
.checkbox{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.paginas{
  display: flex;
  background: #caebe8;
  width: 100%;
  height: 78px;
  padding: 25px;
}

.paginas a{
  padding: 20px;
  color: black;
}


@media (max-width: 600px) {
  .menu{
      display: flow-root;
  }
  .checkbox{
      display: block;
  }
  .enlace-home{
      padding-left: 20px;
  }

  .paginas{
      display: inline;
      height: 50%;
      line-height: 50px;
  }

  .iconos{
      display: none;
  }


ul{
      position: fixed;
      background: rgba(114, 180, 168, 0.297);
      top: 80px;
      left: -200%;
      text-align: center;
      transition: all .5s;
  }

  nav ul li{
      margin: 20px 0;
  }

  nav ul li a{
      font-size: 15px;
  }

  li a:hover, li a.active{
      background: #5DC1B9;
      color: white;
      border-radius: 15px;
  }

  #check:checked ~ ul{
      left: 0;
  }
}

/*FIN MENU*/

/*CHAT*/

#chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0); /*TRANSPARENCIA DE CAJA, NO TOCAR ¡¡¡!!!!*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  
  
}

.chat-ventana {
  position: fixed;
  bottom: 180px;
  right: 20px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
}

.hidden {
  display: none;
}

.chat-header {
  background-color: var(--title-color2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 
}

.chat-body {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;

 
}



.chat-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.chat-footer input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-footer button {
  padding: 5px 10px;
  background-color: var(--title-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cerrar {
  border: none;
  background-color: var(--title2-color);
}

.mensaje-enviado {
  color: var(--title-color);
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.footer {
  text-align: center;
}

@media (max-width: 768px) {
  #chat {
    background-color: #caf3e300; /*COLOR DE FONDO CHAT BOTON*/
border-radius: 5000px;


    
  }

  
  .chat-ventana {
    position: fixed;
    bottom: 180px;
    right: 20px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
  }
  
  .hidden {
    display: none;
  }
  

  
  .chat-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
  
   
  }
  
  
  
  .chat-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
  }
  
  .chat-footer input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .chat-footer button {
    padding: 5px 10px;
    background-color: var(--title-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cerrar {
    border: none;
    background-color: var(--title2-color);
  }
  
  .mensaje-enviado {
    color: var(--title-color);
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .footer {
    text-align: center;
  }
}

/* CALENDARIO */

.calendar {
  max-width: 300px;
  margin: 30px;
  background: linear-gradient(180deg, #fdca60 0%, rgba(93, 193, 185, 0.5) 100%);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
  border-radius: 15px;
}

.Mes {
  font-weight: 700;
  font-size: 20px;
}

.month {
  text-align: center;
  padding: 10px 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  position: relative;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.day .color {
  position: absolute;
  display: none;
  height: 5px;
  width: 5px;
  top: 16px;
  left: 32px;
  border-radius: 100%;
}

.BotonesCalendario {
  background-color: #aee0dc;
  border-radius: 15px;
  margin: 5px;
}

.BotonConfirm {
  background-color: white;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
}



#status {
  background-color: #c6e4e2;
  padding: 15px;
  position: absolute;
  display: none;
  border-radius: 20px;
}

#status::before {
  position: absolute;
  content: '';
  display: none;
  left: calc(100% / 2 - 5px);
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  transform: rotate(45deg);
}

/* FIN DE CALENDARIO */

/* HOME PACIENTE */

.s-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5% 10%;
    gap: 100px;
    
}


/* Estilo para la sección de bienvenida */
.s-bienvenida {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 10%;
}


/* Estilo para la imagen dentro de la sección de bienvenida */
.s-bienvenida img {

    max-width: 40%;
    height: auto;
    border-radius: 50%;
}
.s-notaspost{ 
  font-size: 15px;
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color3);

}


/* Estilo para el texto dentro de la sección de bienvenida */
.s-texto {  
  margin: 0 10%;  
  display: inline-block; 
  font-size: 35px;  
  white-space: nowrap; 
}  

.s-texto h2 {  
  margin: 0 10%;  
  display: inline-block; 
  font-size: 20px;  
  white-space: nowrap; 
  font-family: 'Poppins', sans-serif;
  color: var(--text-color2);
}  

/* Estilo para la sección de actividades */
.s-actividades {
  width: 50%;
  text-align: center;
  vertical-align: middle; 
text-align: center;
margin: 5% 0;

}

.s-pendientes{
  font-family: 'Poppins', sans-serif;
font-size: 17px;
}

.s-pendientes2{
  font-family: 'Poppins', sans-serif;
font-size: 15px;
color: var(--button-color);
} 


/* Contenedor principal para organizar las secciones en columnas */
.s-contenedor2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 0 10%;
    flex-wrap: wrap;
}


/* Estilos para la sección del calendario */
.s-calendario {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 5%;
}


/* Estilos para la sección de las notas (Mis Notas) */
.s-notas {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}


/* Estilos para los post-its */
.s-postits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}


.s-postit {
    width: 100%;
    height: 200px;
    background-color: var(--title-color3);
    border: 1px solid var(--title-color3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

	/* Barra de Progreso */
  .s-progreso1 {  
    width: 55%;  
    height: 30px;  
    background-color: #D9D9D9;  
    border-radius: 15px;  
    overflow: hidden;  
    margin: 0 auto; 
}  

.s-progreso2 {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #81638B, #c1a8c994);
    border-radius: 15px 0 0 15px;
    animation: progreso 2s ease-out forwards;
}

.s-progreso4{
  text-align: center;
  vertical-align: middle; 
}




.s-lista2, .s-lista1 {
  list-style: none;
  font-size: 16px;
  text-align: left;
  margin: 0 9%;
}

.s-centitulo{
  text-align: center;
}

.s-lista{
  margin: 10px;
  width: 550px;
 
}

.s-lista5 i,
.s-lista5 p {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  font-size: 15px;
}

@keyframes progreso {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}


.s-imgcal{
  width: 500px;
}

@media (max-width: 768px) {
  .s-contenedor {
      flex-direction: column;
      gap: 20px;
  }


  .s-bienvenida {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
  }


  .s-texto {
    font-size: 25px;  

  }
  .s-texto h2 {  
  
    font-size: 17px;  

  }  

  .s-actividades {  
    background-color: #f5eefa;  
    padding: 5%;  
    width: 100%; 
    margin: 0 auto;  
    box-sizing: border-box; 
    border-radius: 25px;

}

.s-contenedor {
  flex-direction: column;
  margin: 25px;

}


.s-postits {
  grid-template-columns: 1fr;
  gap: 10px;
}

.s-lista2, .s-lista1 {
  margin: 0 1%;
  

}

.s-imgcal{
  width: 300px;
}

}



.s-boton0{
  padding: 1%;
  width: 80%;
  border-radius: 25px;
  border: solid var(--button-color2);
  background-color: var(--button-color2);
}

.s-boton0:hover{

  border: solid var(--button-color);
  background-color: var(--button-color);
  color: var(--text-color4);
}



/*MI ACOMPAÑANTE*/
.M-MiAcompañante {
  display: flex;
  margin: 30px;
  padding: 15px;
}


.M-foto {
  margin: auto;
}


.M-TextoMiAcompañante {
  font-size: small;
  margin: auto;
}


.M-Graciela {
  font-weight: 300;
  font-size: large;
}


.M-TextoMini {
  font-weight: 200;
  color: gray;
  font-size: small;
}

.M-textoPaciente{
  display: flex;
  align-content: center;
  padding: 20px;

}


.M-CajasAcompañante {
  display: flex;
  justify-content: center;
  padding: 20px;
}


.M-Cajita1 {
  background-color: #f6eef9;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-Cajita2 {
  background-color: #f6eef9;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-Cajita3 {
  background-color: #f6eef9;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-BotonesA {
  display: flex;
  justify-content: center;
}


.M-BotonesCajita {
  font-size: small;
  background: #b695c0;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


.M-BotonesCajita:hover,
.M-BotonesCajita:focus,
.M-BotonesCajita:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width:600px){

  .M-MiAcompañante{
    display: block;
    text-align: center;
  }

  .M-BotonesA{
    width: 80%;
    height: auto;
  }

  .M-textoPaciente{
    font-size: 90%;
  }

  .tituloAcom{
    font-size: 90%;

  }
  .M-Cajita1{
    width: 30%;
    height: auto;
    align-content: center;
  }
  .M-Cajita2{
    width: 30%;
    height: auto;
  }
  .M-Cajita3{
    width: 30%;
    height: auto;
  }

.textito{
  font-size: 90%;
}

.act{
  font-size: 100%;
}
}

/*Actividades General*/

.L-Titulo{
  font-size: 26px;
 }
 
.L-Boton{
  width: 30%;
  height: 50px;
  background: #b695c0;
  border: none;
  color: white;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 15px;
 }

.L-Imagenes{
  height: 300px;
  width: 300px;
}

@media screen and (max-width:600px) {
 .L-Imagenes{
  width: 80%;
  height: auto;
 }
 .L-Boton{
  width: 80%;
  height: auto;
 }
 .L-modal-body{
  width: 80%;
  height: auto;
 }
 
.L-CarruselModal{
  width:20%;
  height: auto;
}

}
.L-modal-footer{
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-between;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  
}
 .L-modal-content{
   background-color: #c7bddd;
   text-align:justify;
   border-radius: 5px;
   color: rgb(0, 0, 0);
 }

 .L-btnfin{
  background: #b08abb;
  border: none;
  color: white;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 15px;
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
 }
.modal-footer{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/*
.L-CarruselModal{
  width: 400px;
  height: auto;
}*/

.carousel-control-prev-icon{
  background-color: #aca7a7b4;
  border-radius: 100px;
}
.carousel-control-next-icon{
  background-color: #aca7a7b4;
  border-radius: 100px;
}


/*Administrador -  Home */

.s-admi {
  margin: 25px;
  border-right: 1px solid #1a1a1a;
}

.btn-secondary.dropdown-toggle {
  background-color: var(--title-color2);
  border-color: #5dc1b9;
  color: #1a1a1a;
}

.btn-secondary.dropdown-toggle:hover{
background-color: var(--acent-color);
border-color: #f9d99a;
}


/*Acompañante - paciente */
.s-bgc{
  background-color: #F7F7F7;
}

.s-cuadrotexto {  
  width: 75%; 
  background-color: var(--title-color3);
  padding: 10%; 
  margin-left: 10%;   
  margin-top: 15%;
  border-radius: 3%; 
  text-align: left;

} 

.s-textoa{
  font-size: 15px;
  color: var(--text-color3);
  font-style: italic;
  
}

.s-imgadmi{
width: 50%;
}


.s-texti{
  font-size: 17px;
}

@media (max-width: 768px) {
  .s-admi {
    margin: 10px;
    border-right: 1px solid #ffffff;

  }

  .s-imgadmi{
width: 200px;
  }
  
}

/*M-Recompensas*/

.M-Recompensas {
  display: flex;
  margin: 30px;
  padding: 15px;
}


.M-fotoRecompensas {
  margin: auto;
}


.M-TextoRecompensas {
  font-size: small;
  margin: auto;
}


.M-TextoReclamar {
  font-weight: 300;
  font-size: large;
}


.M-TextoRe {
  font-weight: 200;
  color: gray;
  font-size: small;
}

.M-CajasRecompensas
{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
  position: relative;
}


.M-CajitaPuntos1 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-CajitaPuntos2 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-CajitaPuntos3 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
}


.M-BotonReclamar {
  display: flex;
  justify-content: center;
}


.M-BotonesCajita {
  font-size: small;
  background: #b695c0;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


.M-BotonesCajita:hover,
.M-BotonesCajita:focus,
.M-BotonesCajita:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.CajearPuntos{
  background: #5DC1B9;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

@media screen and (max-width:600px){
  .M-Recompensas{
    display: block;
  text-align: center;
}

}



/*boton redi canjear*/
#M-Canjear{
  color:white;
  text-decoration: none;
}

.M-BotonReclamar{
  background: #5DC1B9;
  border-radius: 15px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.M-BotonReclamarR{
  background: #b695c0;
  color:white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  text-align: center;
  cursor: pointer;
}

#M-BotonReclamar2{
  background-color: #5DC1B9;
  color:white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  text-align: center;
  cursor: pointer;
}

/*Pgina canjear*/
.P-disponible{
  color: #81638B;
}

.canjes{
background-color: #DAC9DF;
margin: 15px;
padding: 15px;
width: 200px;
height: auto;
border-radius: 15px;

}

.Caja-canjes{
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*Recompensas de Admin*/

.L-Recompensas {
  display: flex;
  align-items: center;
 
}


.L-fotoRecompensas {
  margin: 25px;
  padding: 25px;
}


.L-TextoRecompensas {
  font-size: small;
 
}


.L-TextoReclamar {
  font-weight: 300;
  font-size: large;
}


.L-TextoRe {
  font-weight: 200;
  color: gray;
  font-size: small;
}

.L-CajasRecompensas
{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
  position: relative;
  
}


.L-CajitaPuntos1 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
  justify-content: center;
}


.L-CajitaPuntos2 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
  justify-content: center;
}


.L-CajitaPuntos3 {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 15px;
  justify-content: center;
  
}


.L-BotonReclamar {
  text-align: center;
  justify-content: center;
  
}


.L-BotonesCajita {
  font-size: small;
  background: #b695c0;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
}


.L-BotonesCajita:hover,
.L-BotonesCajita:focus,
.L-BotonesCajita:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* Admi boton redi canjear*/

#L-Canjear{
  color:white;
  text-decoration: none;
}

.L-BotonReclamar{
  background: #b695c0;
  border-radius: 15px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.L-BotonReclamarR{
  background: #b695c0;
  color:white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  text-align: center;
  cursor: pointer;
}

#L-BotonReclamar2{
  background-color: #5DC1B9;
  color:white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 40px;
  margin: auto;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  
}
